{% extends 'adminlte/lib/base.html' %}

{% block content %}
    <form>
    <div class="box">
        {% include 'adminlte/lib/_list_search_form.html' %}

        <div class="box-body">
            <table class="table table-bordered">
                <tr>
                    <th>#</th>
                    <th>name</th>
                    <th>-</th>
                </tr>
                {% for group in pager.items %}
                    <tr data-id="{{ group.id }}">
                        <td>
                            <a href="{% url 'adminlte.group.edit' pk=group.id %}">{{ forloop.counter }}</a>
                        </td>
                        <td>{{ group.name }}</td>
                        <td>
                            <a href="{% url 'adminlte.group.delete' pk=group.id %}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <!-- /.box-body -->
        <div class="box-footer clearfix">
            {% include 'adminlte/lib/_pagination.html' %}
        </div>
    </div>
    </form>
{% endblock %}
